@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Flex:opsz,wght@8..144,300&family=Rock+Salt&display=swap');

body {
    background-color: #599cbb;
    margin: 0;
    padding: 0;
}


#content {
max-width: 1123px;
margin: 0 auto;
background-color: #0d1e3d;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'Rock Salt',Helvetica, sans-serif;
    font-size: 2em;
    line-height: 1.1em;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin: 0;
    margin-bottom: 0;
    
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.sub-tittle{
    font-family:'open sans',Trebuchet MS, sans-serif;
    font-size: 2em;
    margin-top: 10px;

}
p{
    font-family:'open sans',Trebuchet MS, sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    margin-top: 0;
}

nav {
    background-color: #fcb040;
    padding: 1em;
}

nav a {
    color: white;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
nav li{
    font-family: 'Roboto Flex', Helvetica, sans-serif;
    font-size: 1.5em;
    list-style-type: none;
    margin: 0;
    text-decoration: none;
}


main section {
    text-align: center;
   
}

main section img {
    box-sizing: border-box;
}

.home-grid{
    background-color: #0d1e3d;
    max-width: 1123px;
    margin: 0 auto;
}

#background {
    height: 725px;
    background-color: #41678d;

}


nav a:hover {
    background-color: #599cbb;

}
#logo{
    width: 80px;
    padding-top: 5px;
}
.icon {
    width: 45px;
    height: 45px;
    padding-top: 10px;
}

footer{
    font-family:'open sans',Trebuchet MS, sans-serif;
    background-color: #fcb040;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;

}

.footer-msg{
    font-size: 10px;
}

 
.info{
    font-size: .8em;
    color: #41678d;
    
}


.socialmedia {
    padding: 10px;
    padding-top: 15px;
}

.join, .book{
    text-align: center;
    text-decoration: none;
    color: #cfe3ec;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;

}
.join,.book:hover{
    background-color: #fcb040;
    text-decoration: none;
}
    

.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
  }
 
  .rivers-card, .camping-card, .rapids-card{
    margin: 80px 0;
  }   
    
  .card-img {
    border: 10px solid #6f7364;
  }

  .contact{
      font-family: 'open sans',Trebuchet MS, sans-serif;
      font-size: .5em;
      text-decoration: none;
      color: white;
      text-align: left;
  }
    .site{
        font-family: 'open sans',Trebuchet MS, sans-serif;
        font-size: .5em;
        text-decoration: none;
        color: white;
        text-align: left;
  }

  .contact:hover {
    background-color: #599cbb;}

  .site:hover {
        background-color: #599cbb;}